*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #101828;
    color: #FFFFFF;
}
section{
    padding: 0 112px;
}

/* HEADER SECTION */
.header{
    display: flex;
    justify-content: space-between;
    height: fit-content;
    padding: 24px 0;
}
.logo{
    display: flex;
    font-size: 33px;
    letter-spacing: -0.03em;
    font-family: mediumFont, sans-serif;
    font-weight: 500;
    gap: 12px;
}
.logo img{
    width: 28.58px;
    height: 35.77px;
}
.dark-button{
    background-color: #1d2c49;
    border: 0;
    border-radius: 24px;
    color: #E6F1FE;
    font-family: mediumFont;
    font-size: 14px;
    height: 40px;
    width: 154px;
}
.dark-button img{
    margin-left: 8px;
    width: 5px;
    height: 10px;
    color: #E6F1FE;
}


.lockup{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 80px;
}
.lockup h1{
    text-align: center;
    font-size: 80px;
    font-family: mediumFont, sans-serif;
    font-weight: 500;
    line-height: 98px;
    background: linear-gradient(100.11deg, #FFFFFF 22.47%, rgba(255, 255, 255, 0.4) 121.09%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    height: 196px;
    width: 800px;
}
.lockup p{
    color: #DBE2F0;
    font-family: regularFont, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin: 20px 0 40px;
    text-align: center;
    height: 60px;
    width: 416px;
}
.lockup button{
    background: linear-gradient(127.99deg, #2B86F9 -1.76%, #184EF9 61.66%, #9BA8FC 124.64%);
    
}

/* FEATURES SECTION */
.features-section, .footer-section{
    background: linear-gradient(127.99deg, #2B86F9 -1.76%, #184EF9 61.66%, #9BA8FC 124.64%);
    padding-bottom: 88px;
}
.features{
    padding: 96px 0 88px;
}
.features h1{
    font-family: mediumFont;
    font-size: 48px;
    font-weight: 500;
    line-height: 60px;
    width: 752px;
    height: 120px;
}
.features p{
    color: #E6F1FE;
    font-family: regularFont;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    height: 60px;
    margin-top: 20px;
    width: 518px;
}
.features-container{
    display: flex;
    justify-content: space-between;
    height: 250px;
    align-items: center;
}
.container-blocks{
    width: 350px;
}
.container-blocks h3{
    font-family: regularFont;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.537898px;
    font-weight: 600;
    margin-bottom: 8px;
}
.container-blocks p{
    color: #E6F1FE;
    font-family: regularFont;
    font-weight: 400;
    font-size: 16px;
    height: 72px;
    line-height: 24px;
}

/* SLIDER SECTION */
.slider-section{
    height: 924px;
}

/* FOOTER SECTION */
.footer-section{
    padding: 193px 276px;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}
.footer h2{
    font-family: mediumFont, sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    width: 700px;
    height: 120px;
    text-align: center;
}
.footer button{
    background-color: #FFFFFF;
    font-weight: 600;
    color: #101828;
}


/* FONTS */
@font-face{
    font-family: boldFont;
    src: url(Fonts/PPNeueMontreal-Bold.ttf);
}
@font-face{
    font-family: boldItalicFont;
    src: url(Fonts/PPNeueMontreal-BoldItalic.ttf);
}
@font-face{
    font-family: bookFont;
    src: url(Fonts/PPNeueMontreal-Book.ttf);
}
@font-face{
    font-family: italicFont;
    src: url(Fonts/PPNeueMontreal-Italic.ttf);
}
@font-face{
    font-family: lightFont;
    src: url(Fonts/PPNeueMontreal-Light.ttf);
}
@font-face{
    font-family: mediumFont;
    src: url(Fonts/PPNeueMontreal-Medium.ttf);
}
@font-face{
    font-family: regularFont;
    src: url(Fonts/PPNeueMontreal-Regular.ttf);
}
@font-face{
    font-family: semiBoldFont;
    src: url(Fonts/PPNeueMontreal-SemiBold.ttf);
}
@font-face{
    font-family: thinFont;
    src: url(Fonts/PPNeueMontreal-Thin.ttf);
}
@font-face{
    font-family: thinItalicFont;
    src: url(Fonts/PPNeueMontreal-ThinItalic.ttf);
}